In [4]:
if 7 > 4:
    print("Seven is greater than four")

Seven is greater than four

In [2]:
x = str("Hello world!")
print(type(x))

<class 'str'>

In [6]:
x = dict(name="Mike", age=35)
print(x)

{'name': 'Mike', 'age': 35}

In [9]:
x = ("orange", "apple")
print(type(x))

<class 'tuple'>

In [10]:
x = (["orange", "apple"])
print(type(x))

<class 'list'>

In [11]:
x = {"orange", "apple"}
print(type(x))

<class 'set'>

In [14]:
x = [{"orange", "apple"}]
print(type(x))

<class 'list'>

In [2]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [16]:
a = 0.003
b = 59.14
c = 5.291
d = 6.13
e = 59.17
f = 46.78
r = b / d
t = r * c
u = f * r
x = a * (r)
y = e * (r)
print(r)
print(t)
print(x)
print(y)
print(u / t)
print((b - a * u / t) / t)
print(a * (u / t) - b *((b - a * u / t) / t)) 
print(e / a)

9.647634584013051
51.04563458401306
0.028942903752039156
570.8505383360523
8.841428841428842
1.1580515394746296
-68.4606437580053
19723.333333333332

In [17]:
a = 0.003
b = 59.14
c = 5.291
d = 6.13
e = 59.17
f = 46.78
r = b / d
t = r * c
u = f * r
x = a * (r)
y = e * (r)
print(r * d)

59.14

In [1]:
fruits = ["Banana", "Apple", "Orange"]
for x in fruits:
    print(x)

Banana
Apple
Orange

In [2]:
a = "Hard work, labour"
print(len(a))

17

In [4]:
txt = "My name is Peter, Kari kuwe"
print("Kari" in txt)

True

In [6]:
txt = "My name is Peter, Kari kuwe"
if "Kari" in txt: 
    print("Yes, Name is required")

Yes, Name is required

In [10]:
txt = "My name is Peter, Kari kuwe"
if "Milliam" not in txt: 
    print("Yes, Milliam is absent")

Yes, Milliam is absent

In [15]:
b = "Helloao, World!"
print(b[2:4])

ll

In [16]:
b = "Hello, World!"
print(b[:5])

Hello

In [2]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [3]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [4]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [5]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [6]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [7]:
a = "Yellow, World!"
print(a.replace("e", "i"))

Yillow, World!

In [8]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [11]:
a = "Mosquito bites, Stagnant water, Sleeping under untreated mosquito net"
print(a.split(" "))

['Mosquito', 'bites,', 'Stagnant', 'water,', 'Sleeping', 'under', 'untreated', 'mosquito', 'net']

In [18]:
a = "Greatness requires"
b = " hard work"
c = a + b
print(c)

Greatness requires hard work

In [16]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [22]:
age = 25
txt = "Millian is {} years old"
print(txt.format(age))

Millian is 25 years old

In [29]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

# this is a test of the format() 
amani = 4
madiba = 9
phoebe = 3
myorder = "Amani is my second born age {0} Madiba is the first born age {1} and phoebe is the last born age {2}"
print(myorder.format(amani, madiba, phoebe))

I want 3 pieces of item 567 for 49.95 dollars.
Amani is my second born age 4 Madiba is the first born age 9 and phoebe is the last born age 3

In [24]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [34]:
if 5 > 2:
    print("It is true")

It is true

In [36]:
a = "Madiba is a brilliant boy"
b = "he is in primary"
c = 4
age = 16
d = a + " " + b + {2}
print(d)

Madiba is a brilliant boy he is in primary