In [4]:
if 7 > 4:
    print("Seven is greater than four")

Seven is greater than four

In [2]:
x = str("Hello world!")
print(type(x))

<class 'str'>

In [6]:
x = dict(name="Mike", age=35)
print(x)

{'name': 'Mike', 'age': 35}

In [9]:
x = ("orange", "apple")
print(type(x))

<class 'tuple'>

In [10]:
x = (["orange", "apple"])
print(type(x))

<class 'list'>

In [11]:
x = {"orange", "apple"}
print(type(x))

<class 'set'>

In [14]:
x = [{"orange", "apple"}]
print(type(x))

<class 'list'>

In [2]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [16]:
a = 0.003
b = 59.14
c = 5.291
d = 6.13
e = 59.17
f = 46.78
r = b / d
t = r * c
u = f * r
x = a * (r)
y = e * (r)
print(r)
print(t)
print(x)
print(y)
print(u / t)
print((b - a * u / t) / t)
print(a * (u / t) - b *((b - a * u / t) / t)) 
print(e / a)

9.647634584013051
51.04563458401306
0.028942903752039156
570.8505383360523
8.841428841428842
1.1580515394746296
-68.4606437580053
19723.333333333332

In [17]:
a = 0.003
b = 59.14
c = 5.291
d = 6.13
e = 59.17
f = 46.78
r = b / d
t = r * c
u = f * r
x = a * (r)
y = e * (r)
print(r * d)

59.14

In [1]:
fruits = ["Banana", "Apple", "Orange"]
for x in fruits:
    print(x)

Banana
Apple
Orange

In [2]:
a = "Hard work, labour"
print(len(a))

17

In [4]:
txt = "My name is Peter, Kari kuwe"
print("Kari" in txt)

True

In [6]:
txt = "My name is Peter, Kari kuwe"
if "Kari" in txt: 
    print("Yes, Name is required")

Yes, Name is required

In [10]:
txt = "My name is Peter, Kari kuwe"
if "Milliam" not in txt: 
    print("Yes, Milliam is absent")

Yes, Milliam is absent

In [15]:
b = "Helloao, World!"
print(b[2:4])

ll

In [16]:
b = "Hello, World!"
print(b[:5])

Hello

In [2]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [3]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [4]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [5]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [6]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [7]:
a = "Yellow, World!"
print(a.replace("e", "i"))

Yillow, World!

In [8]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [11]:
a = "Mosquito bites, Stagnant water, Sleeping under untreated mosquito net"
print(a.split(" "))

['Mosquito', 'bites,', 'Stagnant', 'water,', 'Sleeping', 'under', 'untreated', 'mosquito', 'net']

In [18]:
a = "Greatness requires"
b = " hard work"
c = a + b
print(c)

Greatness requires hard work

In [16]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [22]:
age = 25
txt = "Millian is {} years old"
print(txt.format(age))

Millian is 25 years old

In [29]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

# this is a test of the format() 
amani = 4
madiba = 9
phoebe = 3
myorder = "Amani is my second born age {0} Madiba is the first born age {1} and phoebe is the last born age {2}"
print(myorder.format(amani, madiba, phoebe))

I want 3 pieces of item 567 for 49.95 dollars.
Amani is my second born age 4 Madiba is the first born age 9 and phoebe is the last born age 3

In [24]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [34]:
if 5 > 2:
    print("It is true")

It is true

In [38]:
a = "Madiba is a brilliant boy"
b = "he is in primary"
c = 4
age = 16
d = a + " " + b
print(d)

Madiba is a brilliant boy he is in primary

In [3]:
txt = "We are the \"the first among equals\" of St Joscom"
print(txt)

We are the "the first among equals" of St Joscom

In [5]:
txt = "Print for me \napples price list \nquantity \npoint of delivery"
print(txt)

Print for me
apples price list
quantity
point of delivery

In [9]:
txt = "Print for me \r apples price list \r quantity \r point of delivery"
print(txt)

 point of delivery

In [10]:
txt = "Print for me \t apples price list \t quantity \t point of delivery"
print(txt)

Print for me 	 apples price list 	 quantity 	 point of delivery

In [12]:
txt = "Print for me \bapples price list \bquantity \bpoint of delivery"
print(txt)

Print for meapples price listquantitypoint of delivery

In [1]:
txt = "Print for me \f apples price list \f quantity \f point of delivery"
print(txt)

Print for me  apples price list  quantity  point of delivery

In [16]:
apple = 500
orange = 1000
pineaple = 1500
myorder = "I need apples at {} , orange at {} , pineaple at {}"
print(myorder.format(apple,orange,pineaple))

I need apples at 500 , orange at 1000 , pineaple at 1500

In [17]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [26]:
# zfill() fixes zeros before the specified string value as shown below:
a = "1"
txt = a.zfill(4)
print(txt)

0001

In [32]:
txt = "My name is Milliam"

x = txt.encode()

print(x)

b'My name is Milliam'

In [39]:
#this code counts number of letters in a sentence
a = "I was very excited to learn new concepts in excel"

x = a.count("i")

print(x)

2

In [45]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [47]:
txt = "PYTHON programming language is FUN to learn!"

x = txt.capitalize()

print (x)

Python programming language is fun to learn!

In [48]:
txt = "36 years of age now, I am learning python"

y = txt.capitalize()

print(y)

36 years of age now, i am learning python

In [50]:
txt = "PYTHON programming language is FUN to learn!"

x = txt.lower()

print (x)

python programming language is fun to learn!

In [56]:
txt = "maize"
x = txt.center(10, "1")
print(x)

11maize111

In [59]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 5, 20)

print(x)

2

In [60]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [62]:
txt = "Hello, welcome to my world."

x = txt.find("e", 2, 15)

print(x)

8

In [68]:
"""the find command 
returns -1 where the letter 
is not found in the centre"""

txt = "Hello, welcome to my world."

x = txt.find("p", 2, 15)
print(x)

-1

In [69]:
if 2 > 1:
    print("Two is greater than one")

Two is greater than one

In [72]:
if 2 < 1:
    print("Two is less than one")

In [73]:
if 2 == 1:
    print("Two is less than one")

In [76]:
if 2 == 4 / 2:
    print("Two is equal to four divide by two")

Two is equal to four divide by two

In [80]:
a = 2
b = 1
if a > b:
    print("a is greater than b")
else:
    print("b is less than a")

a is greater than b

In [81]:
print(2 == 1)
print(2 > 1)
print(2 < 1)

False
True
False

In [82]:
print(bool("Welcome"))
print(bool(15))

True
True

In [83]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [84]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [100]:
y = 2
print(isinstance(y, int))

True

In [110]:
x = 200
y = 25
print(y / x)
print(10 / x)

0.125
0.05

In [106]:
X

10

In [3]:
if 5 < 3:
    print("Five is less than three")

In [4]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [5]:
a = 5
b = 3
if b > a:
    print("Five is greater than three")
else:
    print("Five is less than three")

Five is less than three

In [7]:
print(bool("hello"))

True

In [8]:
def myFunction() :
  return True

print(myFunction())

True

In [10]:
x = 5 & 3
print(x)

1